.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-color); /* Use theme variable */
  color: var(--text-color); /* Use theme variable */
}

.form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
  background-color: var(--background-color); /* Use theme variable */
  color: var(--text-color); /* Use theme variable */
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
  background-color: var(--background-color); /* Use theme variable */
  color: var(--text-color); /* Use theme variable */
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--link-hover-color); /* Use theme variable */
  color: var(--toggle-switch-color); /* Use theme variable */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--navbar-bg); /* Use theme variable */
}

.form-left,
.form-middle,
.form-right {
  flex: 1;
  width: 33.33%; /* Ensure equal widths */
  background-color: var(--background-color); /* Use theme variable */
  color: var(--text-color); /* Use theme variable */
}
